.LoginPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.LoginPage div {
    padding: 3px;
}

.LoginPage-error {
    margin-top: 10px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 15px;
    color: red;
}